.image-position-second img {
    margin: 8px;
    border-radius: 15px;
}

.image-position-second {
    display: flex;
}

.heart-button {
    margin: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}