.navbar {
    display: flex;
    float: right;
    align-items: center;
}

.navbar a {
    color: black;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    padding-right: 60px;
    margin-top: 0;
}

.navbar img {
    width: auto;
    height: 25px;
    padding: 10px;
}