.navbar {
    display: flex;
    float: right;
    align-items: center;
}

.navbar h3 {
    font-size: 17px;
    line-height: 22px;
    padding-right: 60px;
    margin-top: 0;
}

.navbar img {
    width: auto;
    height: 25px;
    padding: 10px;
}